<script type="text/x-lark-template" id="component-task-container-template">

    <div data-js-if="taskService.currentCat">
        <h3>{{taskService.currentCat.name}}</h3>
        <a href="javascript:void(0);" data-js-click="clickImage()">
            <span>{{taskService.currentCat.name}} has been clicked by {{taskService.currentCat.counter}} times</span>
        </a>
    </div>
    <button data-js-click="toggle()" class="adminButton">edit</button>
    <div class="admin-container" data-js-show="showAdmin" >
        <input data-js-model="taskService.currentCat.name" placeholder="name"/>
        <input data-js-model="taskService.currentCat.src" placeholder="src"/>
        <input data-js-model="taskService.currentCat.counter" placeholder="counter"/>
    </div>

</script>


